.pbs-sidenav-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.pbs-sidenav {
  width: 240px;
}

.pbs-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}
